@font-face {
    font-family: 'HelveticaCE-Regular';
    src: url('../fonts/HelveticaCE-Regular.eot');
    src: url('../fonts/HelveticaCE-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaCE-Regular.woff2') format('woff2'),
        url('../fonts/HelveticaCE-Regular.woff') format('woff'),
        url('../fonts/HelveticaCE-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaCyr-Upright';
    src: url('../fonts/HelveticaCyr-Upright.eot');
    src: url('../fonts/HelveticaCyr-Upright.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaCyr-Upright.woff2') format('woff2'),
        url('../fonts/HelveticaCyr-Upright.woff') format('woff'),
        url('../fonts/HelveticaCE-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Bold';
    src: url('../fonts/HelveticaNeueCyr-Bold.eot');
    src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Regular';
    src: url('../fonts/HelveticaNeueCyr-Regular(Roman).eot');
    src: url('../fonts/HelveticaNeueCyr-Regular(Roman).eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Regular(Roman).woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Regular(Roman).woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Regular(Roman).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Impact';
    src: url('../fonts/Impact.eot');
    src: url('../fonts/Impact.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Impact.woff2') format('woff2'),
        url('../fonts/Impact.woff') format('woff'),
        url('../fonts/Impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Josefin Slab';
    src: url('../fonts/JosefinSlab.eot');
    src: url('../fonts/JosefinSlab.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JosefinSlab.woff2') format('woff2'),
        url('../fonts/JosefinSlab.woff') format('woff'),
        url('../fonts/JosefinSlab.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



